body {
    margin: 0;
    padding: 0;
    background: #222222;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

img {
    width: 60vw;
    height: 90vh;
    margin: 5vh 0;
    border: 2px solid snow;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 1000ms;
}

img.left {
    transform: translateX(-100vw) scale(0.2);
    opacity: 0.3;
}

img.right{
    transform: translateX(100vw) scale(0.2);
    opacity: 0.3;
}

img.hidden{
    display: none;
}
